.Mega div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.Numero { 
    width: 40px;
    height: 40px;
    margin: 5px; 
    border-radius: 50%;
    background-color: #209869;
    color: #FFF;
}
