.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos thead tr, th {
    color: #e7dcdc;
    background-color: #808080;
}

.TabelaProdutos .Par {
    background-color: #b5dce8;
}

.TabelaProdutos .Impar {
    background-color: #e7f0f8;
}